.flex-row, .flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column; }

.align-main-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.align-main-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.align-main-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.align-main-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.align-main-space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.align-across-left {
  -webkit-box-align: start;
  -webkit-align-items: flex-start; }

.align-across-right {
  -webkit-box-align: end;
  -webkit-align-items: flex-end; }

.align-across-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
      align-items: center; }

.align-across-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
      align-items: stretch; }

.align-self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.align-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.align-self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.align-self-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch; }

.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.flex3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.flex4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.flex5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.flex6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.flex7 {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.flex8 {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.flex9 {
  -webkit-box-flex: 9;
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.my-flex-block {
  -webkit-box-flex: 12;
  -webkit-flex-grow: 12;
  -ms-flex-positive: 12;
  flex-grow: 12;
  -webkit-flex-shrink: 3;
  -ms-flex-negative: 3;
  flex-shrink: 3;
  -webkit-flex-basis: 2em;
  -ms-flex-preferred-size: 2em;
  flex-basis: 2em; }
