$blue-color: #0198FF;
$black-color: #222222;
$grey-color: #797979;
$grey-color2: #6A6A6A;
$after-color: #c8c7cc;

/*
	==================
	[FONTS]
	==================
*/

@font-face {
  font-family: SFUIDisplayThin;
  src: url(../fonts/SFUIDisplay-Thin.otf);
}
@font-face {
  font-family: SFUIDisplayLight;
  src: url(../fonts/SFUIText-Light.otf);
}
@font-face {
  font-family: SFUITextMedium;
  src: url(../fonts/SFUIText-Medium.otf);
}
@font-face {
  font-family: SFUITextRegular;
  src: url(../fonts/SFUIText-Regular.otf);
}
@font-face {
  font-family: SFUITextSemibold;
  src: url(../fonts/SFUIText-Semibold.otf);
}
/*
	==================
	[MAIN]
	==================
*/

html {
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size:13px;
  position:relative;
  font-family: SFUITextMedium;

}
.page{
  background:#f2f2f2;
}
.empty-block{
  text-align:center;
  font-size:1.2em;
}
.no-tap {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-animation-fill-mode: forwards;
}
/*
	==================
	[LOAD PAGE]
	==================
*/
#loadPage{
  width:100%;
  height: 100%;
  padding: 160px 0 0;
}
.welcome-icon{
  position:relative;
  /* top:120px;*/
  margin:0 auto;
  i.icon{
    width:150px;
    height:150px;
    &.icon-welcome{
      background: url('../images/splash_icon.svg') no-repeat;
      background-size:contain;
    }
  }
}

/*
	==================
	[LOAD PAGE ANIMATION]
	==================
*/
.trueAnimation{
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}
.hideAnimation {
  opacity: 0;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}
.halfAnimation{
  opacity: 0.4;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

/*
	==================
	[NAVBAR]
	==================
*/
.navbar, .subnavbar, .toolbar {
  background: #F9F9F9;
}
.navbar{
  .navbar-inner{
    .back.link{
      width:50px;
      &.active-state{
        pointer-events: none;
      }
    }
  }
  .subnavbar{
    /*&:after{
      height:0px;
    }*/
  }
}
.navbar .navbar-inner .icon{
  &.icon-back{
    width:12px;
    height:20px;
    background:url('../images/icons/back.svg') no-repeat;
    margin-left:15px;
  }
  &.icon-add{
    width:21px;
    height:21px;
    background:url('../images/icons/add.png') no-repeat;
  }
  &.icon-settings{
    width:21px;
    height:21px;
    background:url('../images/icons/settings.svg') no-repeat;
  }
  &.icon-save{
    width:27px;
    height:21px;
    background:url('../images/icons/save.png') no-repeat;
  }
  &.icon-diagram{
    width:21px;
    height:21px;
    background:url('../images/icons/diagram.png') no-repeat;
  }
  &.icon-edit{
    width:21px;
    height:21px;
    background:url('../images/icons/edit.png') no-repeat;
  }
  &[class*="icon-"]{
    background-size:100% 100%;
    background-position:center center;
  }
}

/*
	==================
	[TOOLBAR]
	==================
*/
.toolbar{
  font-family: SFUITextRegular;
  .toolbar-inner{
    .tabbar-label{
      /*font-size:0.7em;*/
    }
    .icon{
      width:30px;
      height:30px;
      background-position: center center;
      /*margin-right:40px;*/
      &.icon-home {
        background: url('../images/icons/home.svg') no-repeat;
        background-size: 100% auto;
      }
      &.icon-calendar{
        background:url('../images/icons/calendar.svg') no-repeat;
        background-size:25px 25px;
      }
      &.icon-info{
        background:url('../images/icons/info.svg') no-repeat;
        background-size:23px 25px;
      }
    }
    a{
      color:#AAAAAA;
    }
    a.active{
      color:#00D56F;
    }
    i.icon[class*="icon-"],
    a.active i.icon[class*="icon-"]{
      background-position:50% 50%;
      pointer-events: none;
    }
    a.active .icon{
      &.icon-home {
        background: url('../images/icons/home_active.svg') no-repeat;
        background-size: 100% auto;
      }
      &.icon-calendar{
        background:url('../images/icons/calendar_active.svg') no-repeat;
        background-size:25px 25px;
      }
      &.icon-info{
        background:url('../images/icons/info_active.svg') no-repeat;
        background-size:23px 25px;
      }
    }
  }
}


.content-block-title{
  margin:10px 15px;
}

/*
	==================
	[SETTINGS]
	==================
*/
#page-settings{
  font-family:SFUITextRegular;
  .list-block{
    margin:0px;
    ul{
      &:before{
        content:none;
      }
      .item-media{
        .icon{
          &.icon-sounds{
            width:27px;
            height:27px;
            background:url('../images/icons/sounds_off.svg') no-repeat;
            &.active{
              width:27px;
              height:27px;
              background:url('../images/icons/sounds_on.svg') no-repeat;
            }

          }
          &.icon-notifications{
            width:27px;
            height:27px;
            background:url('../images/icons/notifications_off.svg') no-repeat;
            &.active{
              width:27px;
              height:27px;
              background:url('../images/icons/notifications_on.svg') no-repeat;
            }

          }
          &[class*="icon-"], &[class*="icon-"].active{
            background-size:100% 100%;
            background-position:center center;
          }
        }
      }
      .item-inner{
        .item-title{
          &.label{
            width:50%;
          }
        }
      }
      .item-input{
        text-align: right;
      }
    }

  }
  .label-switch{
    input[type=checkbox]:checked+.checkbox{
        background:#00A2FF;
    }
  }
}
/*
	==================
	[INFO]
	==================
*/
#page-info, #info-item{
  .info-img {
    &.img-1 {
      background: url('../images/attractions/1.jpg') no-repeat;
    }
    &.img-2 {
      background: url('../images/attractions/2.jpg') no-repeat;
    }
    &.img-3 {
      background: url('../images/attractions/3.jpg') no-repeat;
    }
    &.img-4 {
      background: url('../images/attractions/4.jpg') no-repeat;
    }
    &.img-5 {
      background: url('../images/attractions/5.jpg') no-repeat;
    }
    &.img-6 {
      background: url('../images/attractions/6.jpg') no-repeat;
    }
    &.img-7 {
      background: url('../images/attractions/7.jpg') no-repeat;
    }
    &.img-8 {
      background: url('../images/attractions/8.jpg') no-repeat;
    }
    &.img-9 {
      background: url('../images/attractions/9.jpg') no-repeat;
    }
    &.img-10 {
      background: url('../images/attractions/10.jpg') no-repeat;
    }
    &.img-11 {
      background: url('../images/attractions/11.jpg') no-repeat;
    }
    &.img-12 {
      background: url('../images/attractions/12.jpg') no-repeat;
    }
    &.img-13 {
      background: url('../images/attractions/13.jpg') no-repeat;
    }
    &.img-14 {
      background: url('../images/attractions/14.jpg') no-repeat;
    }
    &.img-15 {
      background: url('../images/attractions/15.jpg') no-repeat;
    }
    &.img-16 {
      background: url('../images/attractions/16.jpg') no-repeat;
    }
    &[class*="img-"] {
      background-size: cover;
      background-position: center center;
    }
  }
}
#page-info{
  .info-block{
    .row{
      margin-bottom: 3px;
      .info-img{
        position:relative;
        width:calc((100% - 3px*1)/ 2);
        height: 180px;
        .title{
          font-family:SFUITextSemibold;
          position:absolute;
          bottom:0;
          padding: 0 5px;
          box-sizing: border-box;
          width:100%;
          height: 50px;
          background:rgba(0,0,0,.7);
          display:flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          color:#fff;
        }
      }
      a.link.active-state {
        opacity: 0.3;
        -webkit-transition-duration: 0ms;
        transition-duration: 0ms;
      }
    }

  }

}
#info-item{
  .swiperSlider{
    .swiper-container{
      position: absolute;
      width:100%;
      top:44px;
      bottom:50px;
      .swiper-slide{
        display:flex;
        flex-direction: column;
        .info-img{
          width:100%;
          height: 250px;
          flex-shrink:0;
        }
        .item-name{
          font-family: SFUITextSemibold;
          color:#000;
          font-weight:bold;
          margin:0px;
          padding: 5px 20px;
          font-size: 1.2em;
        }
        .content-block{
          font-family: SFUITextRegular;
          color:#131314;
          margin:0px 0px 20px 0;
          font-size:1.1em;
          padding: 0 20px 0 20px;
          overflow:auto;
          /*max-height:300px;*/
          flex: 1;

        }

      }
    }

  }


}
.swiper-pagination{
  bottom: 50px;
  text-align: center;
  width: 100%;
  .swiper-pagination-bullet {
    margin: 0 5px;
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    &.swiper-pagination-bullet-active{
      background: $blue-color;
      opacity: .8;
    }
  }
}
/*
	==================
	[HOME]
	==================
*/
#page-home{
  .home-block{
    font-family:SFUITextMedium;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .top-block{
      display: flex;
      flex-direction: row;
      padding:10px;
      background: #fff;
      .icon{
        flex-grow:1;
        background:red;
        height:200px;
        background: url('../images/icons/fire.svg') no-repeat;
        background-size: 100% 100%;
        background-position: center center;
      }
      .time{
        flex-grow:2;
        display: flex;
        flex-direction: column;
        font-family:SFUITextLight;;
        background: yellow;
        .days{
          background:blue;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .row-time{
          display: flex;
          flex-direction: row;
          div{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .hours{
            flex-grow:1;
          }
          .minutes{
            flex-grow:1;
          }
          .seconds{
            flex-grow:1;
          }
        }
      }
    }
    .bottom-block{
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: auto;
        right: auto;
        height: 1px;
        width: 100%;
        background-color: #c8c7cc;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        transform: scaleY(.5);
      }
      .content-block-title:first-child{


      }
      .content-block-title{
        color:#929292;
        text-transform: none;
      }
      .list-block{
        margin-bottom: 10px;
        a{
          color:#929292;
        }
        ul{
          li{
            .item-content{
              &:after{
                content: '';
                position: absolute;
                left: auto;
                bottom: 0;
                right: 0;
                top: auto;
                height: 1px;
                width: 97%;
                background-color: #c8c7cc;
                display: block;
                z-index: 15;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                transform: scaleY(.5);
              }
              .item-media{
                min-width:27px;
                .icon{
                  &.icon-0{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/0_active.svg') no-repeat;
                  }
                  &.icon-1{
                    width:18px;
                    height:21px;
                    background:url('../images/icons/games/1_active.svg') no-repeat;
                  }
                  &.icon-2{
                    width:22px;
                    height:19px;
                    background:url('../images/icons/games/2_active.svg') no-repeat;
                  }
                  &.icon-3{
                    width:27px;
                    height:21px;
                    background:url('../images/icons/games/3_active.svg') no-repeat;
                  }
                  &.icon-4{
                    width:18px;
                    height:21px;
                    background:url('../images/icons/games/4_active.svg') no-repeat;
                  }
                  &.icon-5{
                    width:18px;
                    height:21px;
                    background:url('../images/icons/games/5_active.svg') no-repeat;
                  }
                  &.icon-6{
                    width:20px;
                    height:21px;
                    background:url('../images/icons/games/6_active.svg') no-repeat;
                  }
                  &.icon-7{
                    width:27px;
                    height:21px;
                    background:url('../images/icons/games/7_active.svg') no-repeat;
                  }
                  &.icon-8{
                    width:25px;
                    height:21px;
                    background:url('../images/icons/games/8_active.svg') no-repeat;
                  }
                  &.icon-9{
                    width:21px;
                    height:21px;
                    background:url('../images/icons/games/9_active.svg') no-repeat;
                  }

                  &.icon-10{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/10_active.svg') no-repeat;
                  }
                  &.icon-11{
                    width:18px;
                    height:21px;
                    background:url('../images/icons/games/11_active.svg') no-repeat;
                  }
                  &.icon-12{
                    width:27px;
                    height:21px;
                    background:url('../images/icons/games/12_active.svg') no-repeat;
                  }
                  &.icon-13{
                    width:27px;
                    height:21px;
                    background:url('../images/icons/games/13_active.svg') no-repeat;
                  }
                  &.icon-14{
                    width:21px;
                    height:21px;
                    background:url('../images/icons/games/14_active.svg') no-repeat;
                  }
                  &.icon-15{
                    width:27px;
                    height:21px;
                    background:url('../images/icons/games/15_active.svg') no-repeat;
                  }
                  &.icon-16{
                    width:25px;
                    height:21px;
                    background:url('../images/icons/games/16_active.svg') no-repeat;
                  }
                  &.icon-17{
                    width:17px;
                    height:21px;
                    background:url('../images/icons/games/17_active.svg') no-repeat;
                  }
                  &.icon-18{
                    width:20px;
                    height:21px;
                    background:url('../images/icons/games/18_active.svg') no-repeat;
                  }
                  &.icon-19{
                    width:27px;
                    height:21px;
                    background:url('../images/icons/games/19_active.svg') no-repeat;
                  }
                  &.icon-20{
                    width:21px;
                    height:21px;
                    background:url('../images/icons/games/20_active.svg') no-repeat;
                  }
                  &.icon-21{
                    width:20px;
                    height:21px;
                    background:url('../images/icons/games/21_active.svg') no-repeat;
                  }
                  &.icon-22{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/22_active.svg') no-repeat;
                  }
                  &.icon-23{
                    width:25px;
                    height:21px;
                    background:url('../images/icons/games/23_active.svg') no-repeat;
                  }
                  &.icon-24{
                    width:21px;
                    height:21px;
                    background:url('../images/icons/games/24_active.svg') no-repeat;
                  }
                  &.icon-25{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/25_active.svg') no-repeat;
                  }
                  &.icon-26{
                    width:20px;
                    height:21px;
                    background:url('../images/icons/games/26_active.svg') no-repeat;
                  }
                  &.icon-27{
                    width:22px;
                    height:21px;
                    background:url('../images/icons/games/27_active.svg') no-repeat;
                  }
                  &.icon-28{
                    width:19px;
                    height:21px;
                    background:url('../images/icons/games/28_active.svg') no-repeat;
                  }
                  &.icon-29{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/29_active.svg') no-repeat;
                  }
                  &.icon-30{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/30_active.svg') no-repeat;
                  }
                  &.icon-31{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/31_active.svg') no-repeat;
                  }
                  &.icon-32{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/32_active.svg') no-repeat;
                  }
                  &.icon-33{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/33_active.svg') no-repeat;
                  }
                  &.icon-34{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/34_active.svg') no-repeat;
                  }
                  &.icon-35{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/35_active.svg') no-repeat;
                  }
                  &.icon-36{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/36_active.svg') no-repeat;
                  }
                  &.icon-37{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/37_active.svg') no-repeat;
                  }
                  &.icon-38{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/38_active.svg') no-repeat;
                  }
                  &.icon-39{
                    width:24px;
                    height:21px;
                    background:url('../images/icons/games/39_active.svg') no-repeat;
                  }
                  &[class*="icon-"]{
                    background-size:100% 100%;
                    background-position:center center;
                  }
                }
              }
              .item-inner{
                background-repeat: no-repeat;
                background-position: 96% 50%;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
                background-size: 10px 20px;
                padding:3px 30px 3px 0;
                &:after{
                  height:0px;
                }
                .item-title{
                  font-family:SFUITextRegular;
                  color:#131313;
                }
                .item-after{


                  margin:0px;
                  .item-media{
                    .icon{
                      margin:0 auto;
                      &.icon-notification{
                        width:18px;
                        height:18px;
                        background:url('../images/icons/notifications_on.svg') no-repeat;
                        background-size:100% 100%;
                        background-position:center center;
                      }
                      &[class*="icon-"]{

                      }
                    }

                  }

                }
              }
            }
            &:last-child{
              a{
                &:after{
                  height:0px;
                }
              }

            }
          }

        }



      }
    }
  }


}